$cover-width: 130px;
$bg-color: #3c5b7a;
$bar-color: #80ffad;
.bookshelf {
	display: flex;
	&-container {
		overflow-y: auto;
		overflow-x: hidden;
		width: 100%;
	}
	&-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 1rem;
		padding: 1rem;
		margin: {
			left: 50px;
			bottom: 50px;
		}
	}
	&-row {
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 20px 50px;
		margin-left: 126px;
		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		&-cover {
			position: relative;
			background-color: $bg-color;
			color: white;
			height: 197px;
			width: $cover-width;
			margin: 10px 30px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 0;
			box-shadow: 2px 3px 6px 1px rgb(100 100 100 / 44%),
				-2px -2px 6px 1px rgb(100 100 100 / 44%);
			transition: all 0.5s ease-out;
			&:hover {
				transform: scale(1.08, 1.08);
			}
		}
		&-cover.bookshelf-row-folder {
			background-color: #3b4675;
			color: white;
			&:hover {
				color: #77fff8;
			}
		}
	}
	$stared-color: #f7d500;
	$bookmark-color: #df5cfa;
	&-star-button {
		height: 24px;
		border: none;
		width: $cover-width;
		background-color: $bg-color;
		&:hover {
			background-color: $stared-color;
		}
	}
	&-folder-button {
		height: 24px;
		border: none;
		width: $cover-width;
		background-color: #3b4675;
	}
	&-stared {
		& + .bookshelf-row-bar {
			background-color: $stared-color !important;
		}
	}

	&-bookmark {
		& + .bookshelf-row-bar {
			background-color: $bookmark-color !important;
		}
		&-button {
			height: 24px;
			border: none;
			width: $cover-width;
			background-color: $bg-color;
			&:hover {
				background-color: $bookmark-color !important;
			}
		}
	}
}

.book-item {
	&-title {
		text-align: center;
		font-size: 14px;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		&:hover {
			color: #39c9dc;
		}
		&-wrap {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 5px;
			min-height: 38px;
			width: 165px;
		}
	}
}

.line {
	&-1 {
		width: 130px;
	}
	&-2 {
		width: 130px;
	}
	&-3 {
		width: 100px;
	}
}
.check-box {
	position: absolute;
	right: 8%;
	top: 8%;
	width: 20px;
	height: 20px;
}

svg.icon {
	width: 20px;
	height: 20px;
	cursor: pointer;
	fill: rgb(109, 109, 109);
	margin: 0 4px;
	&--trash {
		&:hover {
			fill: rgb(241, 60, 60);
		}
		&__confirmed {
			fill: #ff0000;
		}
	}

	&.icon--star {
		width: 18px;
		&:hover {
			fill: #f6b061;
		}
		&__stared {
			fill: #f6b061;
		}
	}

	&--bookmark {
		width: 18px;
		&:hover {
			fill: rgb(184, 31, 227);
		}
		&__marked {
			fill: rgb(184, 31, 227);
		}
	}

	&--cross {
		fill: red;
	}
}
.icon-span {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: {
		top: 5px;
	}
}
.book-cover {
	width: 100%;
	height: 100%;
}
@keyframes border-light {
	0% {
		box-shadow: 2px 3px 8px 2px #4d8bffac, -2px -2px 8px 2px #fc5cbcac;
	}
	50% {
		box-shadow: 2px 3px 8px 2px #4dffe7ac, -2px -2px 8px 2px #5c5cfcac;
	}
	100% {
		box-shadow: 2px 3px 8px 2px #4dff7cac, -2px -2px 8px 2px #5cb9fcac;
	}
}
