@mixin marked-hover {
	background-color: rgba(188, 188, 188, 0.428);
}
@import '../../style/variable';
.reader {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	position: relative;
	height: fit-content !important;
	&-content {
		opacity: 1;
		font-family: auto;
		font-size: 16px;
		display: block;
		padding: 0 20px;
		line-height: 1.5;
		margin-left: 50px;
		height: fit-content;
		user-select: all;
		&-title {
			font-size: 20px;
			font-weight: bold;
			margin: 20px 0;
		}
		&-text {
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 20px;
		}
	}
}

.space {
	display: block;
	width: 100%;
}

.scroll-content {
	@include scroll();
	overflow-y: auto;
	height: 96vh;
	position: relative;
	width: 100%;
	transform: translateZ(0);
}

.find {
	&-dialog {
		z-index: 20;
		top: 30px;
		right: 20px;
		width: 300px;
		height: 35px;
		background-color: rgb(9, 160, 231);
		position: absolute;
		border: 1px solid #99d7f4;
		border-radius: 4px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		input {
			width: 200px;
			height: 25px;
			outline: none;
			border: none;
			font-size: 16px;
			z-index: 200;
		}
		button {
			width: 60px;
			height: 30px;
			outline: none;
			border: none;
			background-color: transparent;
			margin: 0 3px;
			svg {
				margin-top: 0;
				fill: black;
			}
			&:hover {
				background-color: #99d7f4;
			}
		}
	}
	&-mask {
		position: absolute;
		top: 0;
		left: 70px;
		height: 30px;
		background-color: #fffb2ab7;
		z-index: 9;
	}
}
#text-width-calc {
	visibility: hidden;
	position: absolute;
	height: auto;
	width: auto;
	white-space: nowrap;
}

.float {
	&-menu {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 40;
		width: fit-content;
		height: 27px;
		background-color: #eff0f2;
		transform: translateY(-20%);
		border: 1px solid #b4b4b4 {
			radius: 3px;
		}
	}

	&-btn {
		height: 95%;
		outline: none;
		background-color: transparent;
		border: none;
		margin: 2px;
		svg {
			fill: #848484;
		}

		&:disabled {
			svg {
				fill: #c3c3c3 !important;
			}
		}
		&--marked,
		&-mark:hover {
			svg {
				fill: #00b2b3;
			}
		}
		&-comment {
			margin-top: 2px;
			svg {
				width: 19px;
			}
			&:hover {
				svg {
					fill: #00b2b3;
				}
			}
		}
	}
}

.marked {
	&-line {
		position: absolute;
		border-bottom: 2px #00b2b3 dotted;
		height: 26px;
		z-index: 20;
		&.marked-line-hover {
			@include marked-hover();
		}
	}
	&-line-container {
		position: absolute;
	}
}

.epub-progress {
	position: absolute;
	bottom: 0px;
	overflow-x: hidden;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	input[type='range'] {
		width: 600px;
		appearance: none;
		-webkit-appearance: none;
		height: 20px;
		background: transparent;
		&::-webkit-slider-runnable-track {
			-webkit-appearance: none;
			appearance: none;
			height: 4px;
			border-radius: 2px;
			background-color: #7e7e7e;
		}
		&::-webkit-slider-thumb {
			$thumb-color: #00b2b3;
			appearance: none;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: $thumb-color;
			border: 1px solid transparent;
			margin-top: -5px;
			border-image: linear-gradient($thumb-color, $thumb-color) 0 fill/5
				13 5 0/0 0 0 99vw;
		}

		&::-ms-fill-lower {
			background: #d94343;
		}
	}

	&-percentage {
		margin: 0 10px;
		font-size: small;
	}
}
