.reader {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	overflow-y: auto;
	height: fit-content !important;
	&-content {
		font-family: auto;
		font-size: 16px;
		display: block;
		padding: 0 20px;
		line-height: 1.5;
		margin-left: 50px;
		height: fit-content;
		user-select: all;
		&-title {
			font-size: 20px;
			font-weight: bold;
			margin: 20px 0;
		}
		&-text {
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 20px;
		}
	}
}

.space {
	display: block;
	width: 100%;
}

.scroll-content {
	overflow-y: auto;
	height: 96vh;
	position: relative;
	width: 100%;
}

.find {
	&-dialog {
		z-index: 20;
		top: 30px;
		right: 20px;
		width: 300px;
		height: 35px;
		background-color: rgb(9, 160, 231);
		position: absolute;
		border: 1px solid #99d7f4;
		border-radius: 4px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		input {
			width: 200px;
			height: 25px;
			outline: none;
			border: none;
			font-size: 16px;
			z-index: 200;
		}
		button {
			width: 60px;
			height: 30px;
			outline: none;
			border: none;
			background-color: transparent;
			margin: 0 3px;
			svg {
				margin-top: 0;
				fill: black;
			}
			&:hover {
				background-color: #99d7f4;
			}
		}
	}
	&-mask {
		position: absolute;
		top: 0;
		left: 70px;
		height: 30px;
		background-color: #fffb2ab7;
		z-index: 9;
	}
}
#text-width-calc {
	visibility: hidden;
	position: absolute;
	height: auto;
	width: auto;
	white-space: nowrap;
}

.float-menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 40;
	width: 100px;
	height: 20px;
	background-color: blueviolet;
}
