@import './variable';

@mixin btn-with-bar($x) {
	&:hover::after {
		background-color: $active-color !important;
	}
	&::after {
		transition: all 0.15s ease-in;
		content: '';
		display: block;
		width: 4px;
		height: 31px;
		background-color: #a7a7a7;
		left: 96%;
		transform: translateY($x);
		position: absolute;
	}
}
:root {
	--card-height: 65vh;
	--card-width: calc(var(--card-height) / 1.5);
}
.main-content {
	width: 100%;
	height: $fullscreen-height;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: whitesmoke;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0;
	margin: {
		top: $header-height;
	}
}
.search {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 100;
	top: 10px;
	left: 0px;
	width: 260px;
	background-color: white;
	height: 50px;
	border: 1px solid rgb(42, 163, 233);
	&.hidden {
		border: 1px solid transparent;
		background-color: transparent;
	}
	button {
		display: block;
		background-color: transparent;
		width: 16%;
		height: $height;
		border: none;
		&:hover {
			cursor: pointer;
		}
	}
	&-input {
		&.hidden {
			visibility: hidden;
		}
		display: block;
		width: 75%;
		height: $height;
		margin-right: 20px;
	}
}
.icon {
	background-color: transparent;
	border: none;
	cursor: pointer;
	//margin-top: 3px !important;
	display: flex;
	justify-content: center;
}
.btn {
	&-back {
		top: 0;
	}

	&-newDir,
	&-rename,
	&-crawler {
		margin-top: 1px;
	}
	&-setting {
		margin-top: 7px;
	}
	// &-catalog {
	// 	@include btn-with-bar(0);
	// }
	// &-show-marks {
	// 	@include btn-with-bar(-108%);
	// }

	&-show-marks {
		margin-top: 2px;
	}
}
#file-input {
	display: none;
}
.crawler {
	&--active {
		fill: rgb(42, 163, 233);
		color: white;
	}
	&--error {
		fill: red;
		color: white;
	}
}
svg {
	width: 100%;
	height: 100%;
	fill: currentColor;
}

.current-search {
	display: block;
	height: 30px;
	font-size: 20px;
	margin-bottom: 10px;
}

.top-menu {
	top: 10px;
	position: absolute;
}

.bottom-menu {
	bottom: 10px;
	position: absolute;
}

.sidebar-container {
	list-style: none;
	position: fixed;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	left: 0px;
	height: 100vh;
	top: 0;
	width: 52px;
	display: flex;
	background-color: $theme-color;
	//box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 20%);
	border-right: 4px solid $active-color;
	z-index: 2000;
	ul {
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	button {
		width: 100%;
		height: 40px;
		margin: 0 auto;
		border: {
			left: 4px solid transparent;
		}
		svg {
			width: 27px;
			fill: rgb(255, 255, 255);
			transition: all 0.15s ease-in;
			position: relative;
			right: 1px;
		}
		&:hover {
			border: {
				left: 4px solid $active-color;
			}
			//box-shadow: inset $active-color 0px -1px 9px;
			// background: linear-gradient(
			// 	to left,
			// 	$active-color,
			// 	1%,
			// 	$theme-color 60%
			// );
		}
	}
}

@keyframes bg-linearColor {
	0% {
		background: linear-gradient(
			to left,
			$active-color,
			1%,
			$theme-color 1%
		);
	}
	10% {
		background: linear-gradient(
			to left,
			$active-color,
			11%,
			$theme-color 11%
		);
	}
	20% {
		background: linear-gradient(
			to left,
			$active-color,
			21%,
			$theme-color 21%
		);
	}
	30% {
		background: linear-gradient(
			to left,
			$active-color,
			31%,
			$theme-color 31%
		);
	}
	40% {
		background: linear-gradient(
			to left,
			$active-color,
			41%,
			$theme-color 41%
		);
	}
	50% {
		background: linear-gradient(
			to left,
			$active-color,
			51%,
			$theme-color 51%
		);
	}
	60% {
		background: linear-gradient(
			to left,
			$active-color,
			61%,
			$theme-color 61%
		);
	}
	70% {
		background: linear-gradient(
			to left,
			$active-color,
			71%,
			$theme-color 71%
		);
	}
	80% {
		background: linear-gradient(
			to left,
			$active-color,
			81%,
			$theme-color 81%
		);
	}
	90% {
		background: linear-gradient(
			to left,
			$active-color,
			91%,
			$theme-color 91%
		);
	}
	100% {
		background: linear-gradient(
			to left,
			$active-color,
			100%,
			$theme-color 100%
		);
	}
}
.middle-menu {
	position: absolute;
	top: 39%;
	svg {
		width: 25px !important;
	}
	button.activeMode {
		animation: bg-linearColor 180ms linear 1;
		background: $active-color;
		//box-shadow: inset $theme-color 0px 0px 9px;
		// svg {
		// 	fill: white;
		// 	filter: brightness(1.14) drop-shadow(0px 0px 6px $active-color);
		// }
	}
}
.crawler--active {
	fill: #3cfc52 !important;
}
.text {
	&-br,
	&-line {
		height: 30px;
		margin: 0;
		user-select: initial;
		position: relative;
		z-index: 10;
	}
}

.chapter-title {
	font-weight: bold;
}

button.goto-btn {
	svg {
		fill: #f1b01ffa;
		&:hover {
			fill: #ef881e;
		}
	}
}
@property --rotate {
	syntax: '<angle>';
	initial-value: 132deg;
	inherits: false;
}
.cool-div {
	&::before {
		content: '';
		width: 103%;
		height: 102%;
		background-image: linear-gradient(
			var(--rotate),
			#5ddcff,
			#ffd74b 43%,
			#dd8cff
		);
		position: absolute;
		z-index: -1;
		top: -1%;
		left: -2%;
		animation: spin 2.5s linear infinite;
	}

	&::after {
		position: absolute;
		content: '';
		//top: calc(var(--card-height) / 6);
		left: 0;
		right: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		transform: scale(0.8);
		filter: blur(calc(var(--card-height) / 16));
		background-image: linear-gradient(
			var(--rotate),
			#5ddcff,
			#ffd74b 43%,
			#dd8cff
		);
		opacity: 1;
		transition: opacity 0.5s;
		animation: spin 2.5s linear infinite;
	}
}
@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}
