$height: 60%;

.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 100;
	top: 10px;
	left: 0px;
	width: 260px;
	background-color: white;
	height: 50px;
	border: 1px solid rgb(42, 163, 233);
	&.hidden {
		border: 1px solid transparent;
		background-color: transparent;
	}
	button {
		display: block;
		background-color: transparent;
		width: 16%;
		height: $height;
		border: none;
		&:hover {
			cursor: pointer;
		}
	}
	&-input {
		&.hidden {
			visibility: hidden;
		}
		display: block;
		width: 75%;
		height: $height;
		margin-right: 20px;
	}
}
.icon {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.homepage-btn {
	width: 41px;
}
.stared-btn {
	width: 40px;
}
.add-btn {
	width: 40px;
}
.back-btn {
	width: 38px;
}
.refresh-btn {
	width: 40px;
}
#file-input {
	display: none;
}
svg {
	width: 100%;
	height: 100%;
	fill: black;
}

.current-search {
	display: block;
	height: 30px;
	font-size: 20px;
	margin-bottom: 10px;
}

.menu {
	list-style: none;
	position: fixed;
	flex-direction: column;
	left: -38px;
	top: 56px;
}
