$radius: 15px;
.img {
	width: 180px;
	height: auto;
	font-size: 12px;
	background-color: #e0e0e000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	margin: {
		bottom: 10px;
	}
	padding: {
		top: 10px;
	}
	&-pack {
		margin: 10px;
	}
	&-main-content {
		transform: translateZ(0);
		width: 100%;
		height: fit-content;
		display: flex;
		justify-content: center;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			width: 0px;
		}
	}
	&-wrapper {
		width: 90%;
		height: fit-content;
		display: flex;
		justify-content: center;
		box-shadow: 2px 3px 6px 1px #64646470, -2px -2px 6px 1px #64646470;
		transition: all 0.5s ease-out;
		border-radius: $radius;
		&:hover {
			transform: translateY(-12px);
			animation: border-light 2s infinite linear alternate;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: $radius;
		}
	}
}

.pack-title {
	display: block;
	width: 90%;
	margin: 5px 0;
}

a.pack-title {
	text-decoration: none;
	text-align: center;
	display: flex;
	color: black;
	align-items: center;
	width: 160px;
	height: 40px;
	transition: none;
	&:hover {
		color: rgb(110, 182, 230);
	}
	span {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
}

.star-span,
.bookmark-span {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	top: -7px;
	svg {
		fill: rgb(109, 109, 109);
		height: 18px;
		width: 18px;
	}
}
.marked {
	svg {
		fill: rgb(26, 99, 138);
	}
}
.stared {
	svg {
		fill: #f9cc4b;
	}
}

@keyframes border-light {
	0% {
		box-shadow: 2px 3px 8px 2px #4d8bffac, -2px -2px 8px 2px #fc5cbcac;
	}
	50% {
		box-shadow: 2px 3px 8px 2px #4dffe7ac, -2px -2px 8px 2px #5c5cfcac;
	}
	100% {
		box-shadow: 2px 3px 8px 2px #4dff7cac, -2px -2px 8px 2px #5cb9fcac;
	}
}
