.img {
	width: 170px;
	height: auto;
	font-size: smaller;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: {
		bottom: 10px;
	}
	padding: {
		top: 10px;
	}
	&-pack {
		margin: 10px;
	}
	&-main-content {
		width: 800px;
		height: fit-content;
		display: flex;
		justify-content: center;
	}
}

.pack-title {
	display: block;
	width: 90%;
	margin: 5px 0;
}
img {
	display: block;
	width: 90%;
	height: auto;
}
a.pack-title {
	text-decoration: none;
	color: black;
	&:hover {
		color: inherit;
		font-weight: bolder;
	}
}
