.img {
	width: 180px;
	height: auto;
	font-size: 12px;
	border: 1px solid rgba(117, 117, 117, 0.602);
	background-color: #e0e0e070;
	display: flex;
	box-shadow: 0px 2px 1px #c3c3c38c;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: {
		bottom: 10px;
	}
	padding: {
		top: 10px;
	}
	&-pack {
		margin: 10px;
	}
	&-main-content {
		width: 800px;
		height: fit-content;
		display: flex;
		justify-content: center;
	}
}

.pack-title {
	display: block;
	width: 90%;
	margin: 5px 0;
}
img {
	display: block;
	width: 90%;
	height: auto;
}
a.pack-title {
	text-decoration: none;
	display: flex;
	color: black;
	align-items: center;
	width: 160px;
	height: 40px;
	transition: none;
	&:hover {
		color: rgb(110, 182, 230);
	}
	span {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
}

.star-span {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	top: -7px;
	svg {
		fill: rgb(109, 109, 109);
		height: 18px;
		width: 18px;
	}
}

.stared {
	svg {
		fill: #f9cc4b;
	}
}
