.page {
	&-nav {
		font-size: 20px;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: {
			top: 10px;
			bottom: 10px;
		}
		width: fit-content;
	}
	&-span {
		display: inline-block;
		margin: 0 10px;
		&.jump {
			font-size: 18px;
		}
	}
	&-link {
		&.active {
			color: rgba(15, 133, 243, 0.938);
			text-decoration: underline;
		}
	}
}
.prev,
.next,
.first,
.last {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	.page-link {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
}
a {
	&.page-link {
		text-decoration: none;
		color: black;
		&:hover {
			color: rgba(120, 190, 255, 0.938);
			transition: none;
		}
		svg {
			width: 20px;
			height: 20px;
			fill: black;
			&:hover {
				fill: rgba(120, 190, 255, 0.938);
			}
		}
		&.disable {
			svg {
				fill: gray;
			}
		}
	}
}

.nav-container {
	position: absolute;
	bottom: 3px;
}

.jump-input {
	width: 40px;
	height: 30px;
	border: none;
	border-bottom: 1px solid black;
	background-color: transparent;
	margin: 0 10px;
	text-align: center;
	font-size: 15px;
	&:focus {
		outline: none;
	}
}
