.back {
	position: fixed;
	left: 5px;
	top: 18px;
	background-color: transparent;
	font-size: 20px;
	border: none;
	&:hover {
		color: rgba(34, 143, 245, 0.938);
		cursor: pointer;
	}
	svg {
		width: 26px;
		height: 26px;
	}
}

.pack {
	&-detail {
		width: 100%;
		max-width: 600px;
		margin: 10px;
		&-list {
			width: 65%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
		}
		&-container {
			width: fit-content;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
		}
	}
}
