.back {
	position: fixed;
	left: 10px;
	background-color: transparent;
	font-size: 20px;
	border: none;
	&:hover {
		color: rgba(34, 143, 245, 0.938);
		cursor: pointer;
	}
}

.pack {
	&-detail {
		width: 100%;
		margin: 10px;
		&-container {
			width: 40%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
		}
	}
}
